@model apartment.Models.Entities.TaiSan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}
<script>
    var element = document.getElementById("collapse6");
    element.classList.add("in");
</script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<h2 style="text-align:center">Danh Sách Tài Sản Hư Hại</h2>    
    <div class="container admin-sua-thong-tin">
           
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-12 text-center">Mã Tài Sản:</label>
           
            <div class="col-md-12">
                @Html.EditorFor(model => model.MaTaiSan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaTaiSan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 text-center">Tên Tài Sản:</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.TenTaiSan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTaiSan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 text-center">Mã Phòng:</label>
            <div class="col-md-12">
                @Html.DropDownList("MaPhong", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaPhong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 text-center">Mô Tả:</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12 text-center">Tiền Bồi Thường:</label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.TienDenBu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TienDenBu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <label class="col-md-12 text-center"></label>
            <input type="submit" value="Thêm" class="btn btn-ok" />

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
